@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&display=swap');

:root{
     --body-font: "Poppins", sans-serif;
     --special-font: "Great Vibes", serif;
     --body-color: #000;
     --secondary-color: #6796bf;    
}
html,body{
    overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--body-font);
}
body p{
    font-family: var(--body-font);
    font-size:16px;
    color:var(--body-color);   
}
ol,ul{
    list-style:none;
    margin:0;
    padding:0;
}
a{
     font-family:var(--body-font);
     text-decoration:none;
     color:var(--body-color);

}
.sidebar{
    background:#fff;
    padding: 20px 30px;
}
.profileName {
    padding-top: 40px;
}
.profileName h2{
   font-size:3rem;
   font-family:var(--special-font);
   margin: 0;
   padding: 0;
   line-height: 3rem;
}
.profileName p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    padding-left: 30px;
    margin-top: -5px;
}
.mylinks {
    padding: 30px 0;
}
.mylinks ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
   
}
.mylinks ul li:last-child {
    border: 0;
}
.mylinks ul li a {
    font-size: 1.2rem;

}
.sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 100vh;
}
.bookAppointment a {
    background: #000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition:0.3s linear;
    font-weight:600;
}
.bookAppointment a:hover{
    background:var(--secondary-color);
}
.bookAppointment {
    margin-bottom: 30px;
}
.personal-contact {
    font-size: 1.1rem;
    padding-top:20px;
}
.personal-contact ul {
    display: flex
;
    flex-direction: column;
    gap: 5px;
}
.socialslinks{
    padding-top:10px;
}
.socialslinks ul {
    display: flex
;
    gap: 10px;
}
.socialslinks ul li a i {
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    color: #000;
    display: flex
;
    align-items: center;
    justify-content: center;
    position: relative;
    transition:0.3s linear;
}
.socialslinks ul li a i:hover{
    background:#000;
    color:#fff;
}
.socialslinks ul li a {
    position: relative;
}
.socialslinks ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    position: absolute;
    transition:0.3s linear;
}
.socialslinks ul li a:hover::after{
     background: #fff;
} 
.mainWrapper {
    display: flex
;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}  
p.sub-heading {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
.servicesWrapper {
    display: grid
;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    text-align: center;
    margin: 50px 30px;
    grid-row-gap: 50px;
}
.servicesWrapper img {
    width: 85px;
    height: 85px;
}
.servicesCard {
    display: flex
;
    flex-direction: column;
    gap: 20px;
}

.servicesContent p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 90%;
    margin: 0 auto;
}