@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&display=swap');

:root{
     --body-font: "Poppins", sans-serif;
     --special-font: "Great Vibes", serif;
     --secondary-font: "Playfair";
     --body-color: #000;
     --secondary-color: #6796bf;    
}
html,body{
    overflow-x:hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--body-font);
}
body p{
    font-family: var(--body-font);
    font-size:16px;
    color:var(--body-color);   
}
ol,ul{
    list-style:none;
    margin:0;
    padding:0;
}
a{
     font-family:var(--body-font);
     text-decoration:none;
     color:var(--body-color);

}
.sidebar2{
    background:#fff;
    padding: 20px 30px;
}
.profileName {
    padding-top: 40px;
}
.profileName h2{
   font-size:3rem;
   font-family:var(--special-font);
   margin: 0;
   padding: 0;
   line-height: 3rem;
}
.profileName p {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    padding-left: 30px;
    margin-top: -5px;
}
.mylinks {
    padding: 30px 0;
}
.mylinks ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
   
}
.mylinks ul li:last-child {
    border: 0;
}
.mylinks ul li a {
    font-size: 1.2rem;

}
.sidebar {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    /* height: 100vh; */
}
.bookAppointment a {
    background: #000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition:0.3s linear;
    font-weight:600;
}
.bookAppointment a:hover{
    background:var(--secondary-color);
}
.bookAppointment {
    margin-bottom: 30px;
}
.personal-contact {
    font-size: 1.1rem;
    padding-top:20px;
}
.personal-contact ul {
    display: flex
;
    flex-direction: column;
    gap: 5px;
}
.socialslinks{
    padding-top:10px;
}
.socialslinks ul {
    display: flex
;
    gap: 10px;
}
.socialslinks ul li a i {
    width: 45px;
    height: 45px;
    background: #f5f5f5;
    color: #000;
    display: flex
;
    align-items: center;
    justify-content: center;
    position: relative;
    transition:0.3s linear;
}
.socialslinks ul li a i:hover{
    background:#000;
    color:#fff;
}
.socialslinks ul li a {
    position: relative;
}
.socialslinks ul li a::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    position: absolute;
    transition:0.3s linear;
}
.socialslinks ul li a:hover::after{
     background: #fff;
} 
.mainWrapper {
    display: flex
;
    flex-direction: column;
    /* align-items: center; */
    margin-top: 50px;
}  
p.sub-heading {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}
.servicesWrapper {
    display: grid
;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    text-align: center;
    margin: 50px 30px;
    grid-row-gap: 50px;
}
.servicesWrapper img {
    width: 85px;
    height: 85px;
}
.servicesCard {
    display: flex
;
    flex-direction: column;
    gap: 20px;
}

.servicesContent p {
    font-size: 0.9rem;
    line-height: 1.5rem;
    width: 90%;
    margin: 0 auto;
}
  .filter-btn.active {
    background-color: #0d6efd;
    color: white;
  }
  /* .project-box {
    display: none; 
  } */
  .project-box.show {
    display: block;
  }
  .portfolio-wrapper {
    margin: 50px 30px;
}
.portfolio-check {
    display: grid
;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.portfolio-content h3 {
    font-family: var(--special-font);
    font-size: 3rem;
}
.portfolio-content h3 {
    font-family: var(--secondary-font);
    font-size: 2.2rem;
    color: var(--secondary-color);
}
.portfolio-content a {
    color: #2469cf;
    text-decoration: underline;
}
.portfolio-wrapper button {
    color: #000;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0;
    padding: 10px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: 600;
}
.project-grid .col-md-12:last-child hr {
    display: none;
}
.portfolio-wrapper button:last-child {
    border-right: 0;
}
.btn-check:active+.btn-outline-primary:focus, .btn-check:checked+.btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus{
    box-shadow:unset;
}
.portfolio-check .card:hover {
    transform: scale(1.03);
    transition: 0.3s;
    cursor: pointer;
}
.profileWrapper {
    display: grid
;
    grid-template-columns: 2fr 1fr;
    padding: 50px;
    justify-items: center;
      grid-template-rows: auto auto;
}
.profile-content ul {
    list-style: disc;
    margin:0 20px;
    padding:0 20px;
}
.profile-content p {
    line-height: 1.8rem;
    text-align: justify;
    font-size: 1rem
16px
;
}
    .profile-col2 {
     grid-column:1 / -1;
}
.profile-col2 ul {
    list-style: disc;
    margin:0 20px;
    padding:0 20px;
}
.imgWrapper img {
    border-radius: 20px;
}